@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --font-base: "Inter", sans-serif;
  --color-blue: #37146B;
  --color-purple: #4D1B95;
  --color-white: #F3ECFE;
  --bg-color-white: #f8f8f8
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
